.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1rem;
  font-size: 2.5rem;
}

.text {
  font-size: 2rem;
  padding: 0 1rem;
}

.btn {
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
  flex-basis: 8%;
  i {
    font-size: 2rem;
  }
}

.select {
  flex-basis: 10%;
  padding: 0.3rem 1rem;
}
